{%- if page.imgurl -%}
<meta property="og:image" content="{{ page.imgurl }}">
{%- endif -%}

<meta name="twitter:card" content="summary_large_image">

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        TeX: 
        {
            equationNumbers: { autoNumber: "AMS" }
        },
        tex2jax:
        {
            inlineMath: [ ['$','$'] ],
            displayMath: [ ['$$','$$'] ],
            processEscapes: true,
        }
    });
</script>
<script async defer type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>