body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: none;
}

.splash {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.footer {
    display: none;
}